<script setup>
import StatsItem from './StatsItem.vue'
</script>
<template>
    <div class="h-[960px] bg-very-dark-blue">
        <div class="grid">
            <div
                class="place-self-center w-[327px] h-[780px] my-[88px] bg-dark-desaturated-blue rounded-lg md:flex md:flex-row-reverse md:w-[950px] md:h-[446px] md:my-[177px]">
                <div>
                    <div
                        class=" relative bg-[url('../assets/images/image-header-mobile.jpg')] bg-cover bg-no-repeat h-[240px] w-[327px] rounded-t-lg md:hidden">
                        <div class="absolute inset-0 z-0 h-full bg-soft-violet opacity-50"></div>
                    </div>
                    <div
                        class="md:relative md:bg-[url('../assets/images/image-header-desktop.jpg')] md:bg-cover md:bg-no-repeat md:w-[475px] md:h-[446px]">
                        <div class="absolute inset-0 z-0 h-full bg-soft-violet opacity-50"></div>
                    </div>
                </div>

                <div class="grid my-10">
                    <div class="place-self-center text-center md:text-left">
                        <h2 class=" w-[264px] font-Inter text-white text-[28px] font-bold md:w-[430px] md:text-4xl"> Get <span
                                class="text-soft-violet">insights</span> that help your business grow.
                        </h2>
                        <p class=" w-[264px] mt-4 font-Inter font-normal text-[15px] text-transparent-white md:w-[374px]"> Discover the
                            benefits of data analytics and make better decisions regarding revenue, customer
                            experience, and overall efficiency.
                        </p>
                        <div class="flex flex-col gap-y-6 mt-10 md:mt-[72px] md:flex-row md:gap-x-16">
                            <StatsItem>
                                <template #heading>
                                    10k+
                                </template>
                                companies
                            </StatsItem>
                            <StatsItem>
                                <template #heading>
                                    314
                                </template>
                                templates
                            </StatsItem>
                            <StatsItem>
                                <template #heading>
                                    12M+
                                </template>
                                queries
                            </StatsItem>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.img-overlay {
    width: 327px;
    height: 240px;
    background-color: hsla(277, 64%, 61%, 1);
}

img {
    object-fit: cover;
}

.bgImg {
    background-image: url("../assets/images/image-header-mobile.jpg");
    height: 240px;
    width: 327px;
}</style>