<template>
    <div class="flex flex-col justify-center items-center">
        <h2 class="font-bold text-white font-Inter text-2xl">
            <slot name="heading"></slot>
        </h2>
        <p class=" text-xs font-LexendDeca text-slightly-transparent-white uppercase">
            <slot></slot>
        </p>
    </div>
</template>